* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  background-image: url("https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?cs=srgb&dl=pexels-francesco-ungaro-998641.jpg&fm=jpg");
  background-size: cover;
}

#title {
  text-align: center;
  padding: 10px;
  font-size: 4rem;
}

.yellow-title {
  font-family: fantasy;
  font-size: 3rem;
  font-style: italic;
  text-decoration: underline;
  text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.5);
  color: rgb(255, 217, 0);
}

p {
  padding: 20px;
}

.navbar {
  text-align: center;
  padding: 10px;
  position: relative;
  left: 25%;
  width: 50%;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block; /* Display list items horizontally */
  margin-right: 20px; /* Adjust spacing between links */
}

.navbar a {
  font-size: 1.5rem;
}

.navbar a:active,
.navbar a:visited {
  color: rgb(255, 217, 0);
}

.navbar a:hover {
  color: rgba(255, 0, 0, 0.8);
}

.image-container {
  position: relative;
  left: 25%;
  background: white;
  width: 50%;
  border: 2px solid white;
}

.image-container img {
  max-width: 100%;
}

.image-container h2 {
  position: absolute;
  top: 0px;
  padding: 20px;
}

.cookie-notice {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  background: #eee;
  padding: 15px;
  text-align: center;
  border: 2px solid white;
}

.cookie-notice p {
  padding: 10px;
}
