* {
  margin: 0px;
}

header {
  display: flex;
  flex-direction: row;
}

header .logo img {
  width: 80px;
}

.nav-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-menu li {
  padding: 30px;
}

.container {
  display: flex;
  flex-direction: row;
}

.box {
  width: 100px;
  height: 100px;
  background-color: red;
}
